.nav-item {
  button {
    background: none;
    color: rgba(0,0,0,.5);
    font-family: Helvetica;
    font-weight: normal;
    padding: 8px 10px;
    &:hover{
      color: rgba(0,0,0,.7);
    }
  }
}

.search-bar {
	vertical-align: middle;
 	white-space: nowrap;
  	position: relative;

	input#search {
		@extend %mybutton;
		border-color: $violet;
		float: left;
  		padding-left: 45px;
	}

	input.search-icon {
		position: absolute;
		  top: 50%;
		  margin-left: 17px;
		  margin-top: 17px;
		  z-index: 1;
		  color: #4f5b66;
	}
}
.lblInp {
  position: relative;
  display: block;
  height: 33px;
  cursor: text;
  width: 200px;
}
.lblInp input {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  border: 0;
  padding: 0;
  padding-left: 32px;
  border-radius: 2px;
  background: $violet;
  transition: all 0.3s ease;
  vertical-align: bottom;
  font-size: 16px;
}
.lblInp input:focus,
.lblInp input.filled {
  height: 100%;
  outline: none;
}
.lblInp input:focus + label,
.lblInp input.filled + label {
  position: absolute;
  transform: translateY(-34px);
  font-size: 12px;
  color: rgba(255,255,255,0.6);
}
.lblInp input:focus + label + i,
.lblInp input.filled + label + i {
  transform: translateY(0px);
  visibility: visible;
  transition: transform 0.3s ease;
}
.lblInp input +label {
  font-weight: 400;
	color: grey;
	line-height: 40px;
	padding-left: 75px;
  transform: translateY(0);
  transition: all 0.3s ease;
  pointer-events: none;
}
.lblInp input +label + i {
  position: absolute;
  display: block;
  visibility: hidden;
  left: 10px;
  transform: translateY(10px);
  color: #ddd;
  z-index: 1;
}
      
.fa-search {
  font-size: 14px;
  top: 10px;
  color: #000;
}

/* Окно регистрации */
#modal-registration, #modal-login {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-registration-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
    flex-direction: column;

    form > div {
      display: flex;
      margin-bottom: 1em;
      &.registration-about {
        margin: 0 4% 0 2.5%;
        flex-direction: column;
      }
      div {
        width: 45%;
        margin: 0 2%;
      }
    }
  }
/* The Close Button */
.close {
    color: #aaaaaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}