.tostart {
	p{
		font-size: 16px;
	}
}
.advantages {
	margin-top: 5%;
	margin-bottom: 5%;

	.advantages-rate {
		margin-top: 5%;
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: $yellow;
	}

	.advantages-lists {
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: $orange;
		text-align: right;
	}

	.advantages-filter {
		padding-top: 5%;
		padding-bottom: 5%;
		margin-bottom: 5%;
		background-color: $yellow;
	}
}

.invitation {
	padding-top: 5%;
	padding-bottom: 5%;
}
