@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 14px;
  line-height: 1; }

::selection {
  background: #a4dcec; }

::-moz-selection {
  background: #a4dcec; }

::-webkit-selection {
  background: #a4dcec; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
  font-style: italic; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic; }

br {
  display: block;
  line-height: 2.2em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear; }

#topbar a {
  color: #fff;
  font-size: 1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold; }

#topbar a:hover {
  opacity: 1; }

/** typography **/
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center; }

h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0; }

h1:before {
  left: -.5em;
  margin: 0 0 0 -50%; }

h1:after {
  left: .5em;
  margin: 0 -50% 0 0; }

h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal; }

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center; }

p {
  display: block;
  line-height: 1.55em;
  margin-bottom: 22px;
  color: #555; }

a {
  text-decoration: none;
  color: grey; }

a:hover {
  text-decoration: none;
  color: #9d1927; }

.dark-button, .light-button, .search-bar input#search, .filter .filter--settings .toggles .tgl-skewed + .tgl-btn {
  border: solid 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.dark-button, .light-button, .search-bar input#search {
  width: 200px;
  height: 40px;
  outline: none;
  margin: 0 auto; }

.movieslists input[id^="tab"]:hover + label, .movieslists input[id^="tab"]:checked + label, .show-more:hover {
  border-bottom: 5px solid #9d1927; }

.row {
  margin: 0; }

.title h1 {
  color: #ec9322; }

.tostart {
  background-color: #9d1927;
  color: #fff;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%; }

.dark-button {
  display: block;
  background-color: #291427;
  border: solid 2px;
  border-color: white;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  color: #fff; }

.dark-button:hover {
  cursor: pointer;
  background-color: #4d2846;
  text-decoration: none;
  color: #fff; }

.light-button {
  display: block;
  padding: 5px 15px;
  border-color: #291427;
  background-color: #fff;
  color: black; }

.light-button:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #f4f4f4;
  color: #000; }

.light-text {
  color: white; }

/* OVERRIDE STYLES */
.search-form .search-submit {
  bottom: 0;
  padding: 0 22px 0 0px;
  position: absolute;
  right: 0;
  top: 14px;
  background: #9d1927; }

.nav-item button {
  background: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: Helvetica;
  font-weight: normal;
  padding: 8px 10px; }
  .nav-item button:hover {
    color: rgba(0, 0, 0, 0.7); }

.search-bar {
  vertical-align: middle;
  white-space: nowrap;
  position: relative; }
  .search-bar input#search {
    border-color: #291427;
    float: left;
    padding-left: 45px; }
  .search-bar input.search-icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66; }

.lblInp {
  position: relative;
  display: block;
  height: 33px;
  cursor: text;
  width: 200px; }

.lblInp input {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  border: 0;
  padding: 0;
  padding-left: 32px;
  border-radius: 2px;
  background: #291427;
  transition: all 0.3s ease;
  vertical-align: bottom;
  font-size: 16px; }

.lblInp input:focus,
.lblInp input.filled {
  height: 100%;
  outline: none; }

.lblInp input:focus + label,
.lblInp input.filled + label {
  position: absolute;
  transform: translateY(-34px);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6); }

.lblInp input:focus + label + i,
.lblInp input.filled + label + i {
  transform: translateY(0px);
  visibility: visible;
  transition: transform 0.3s ease; }

.lblInp input + label {
  font-weight: 400;
  color: grey;
  line-height: 40px;
  padding-left: 75px;
  transform: translateY(0);
  transition: all 0.3s ease;
  pointer-events: none; }

.lblInp input + label + i {
  position: absolute;
  display: block;
  visibility: hidden;
  left: 10px;
  transform: translateY(10px);
  color: #ddd;
  z-index: 1; }

.fa-search {
  font-size: 14px;
  top: 10px;
  color: #000; }

/* Окно регистрации */
#modal-registration, #modal-login {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 200;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-registration-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 50px;
  border: 1px solid #888;
  width: 60%;
  display: flex;
  flex-direction: column; }
  .modal-registration-content form > div {
    display: flex;
    margin-bottom: 1em; }
    .modal-registration-content form > div.registration-about {
      margin: 0 4% 0 2.5%;
      flex-direction: column; }
    .modal-registration-content form > div div {
      width: 45%;
      margin: 0 2%; }

/* The Close Button */
.close {
  color: #aaaaaa;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.center {
  display: block;
  text-align: center; }

/** page structure **/
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px; }

#content {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.01);
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; }

#userphoto {
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 8px; }

#userphoto img {
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

/** profile nav links **/
#profiletabs {
  display: block;
  margin-bottom: 4px;
  height: 50px; }

#profiletabs ul {
  list-style: none;
  display: block;
  width: 70%;
  height: 50px; }

#profiletabls ul li {
  float: left; }

#profiletabs ul li a {
  display: block;
  float: left;
  padding: 8px 11px;
  font-size: 1.2em;
  font-weight: bold;
  background: #eae8db;
  color: #666;
  margin-right: 7px; }

#profiletabs ul li a:hover {
  text-decoration: none;
  background: #dad7c2;
  color: #565656;
  border-bottom: 5px solid #9d1927; }

#profiletabs ul li a.sel {
  background: #fff;
  border-bottom: 5px solid #9d1927; }

/** profile content sections **/
.hidden {
  display: none; }

.activity {
  border-bottom: 1px solid #d6d1af;
  padding-bottom: 4px; }

.setting {
  display: block;
  font-weight: normal;
  padding: 7px 3px;
  border-top: 1px solid #d6d1af;
  margin-bottom: 5px; }

.setting span {
  float: left;
  width: 250px;
  font-weight: bold; }

.setting span img {
  cursor: pointer; }

#friendslist {
  display: block;
  font-size: 1.1em;
  font-weight: bold; }

#friendslist li {
  line-height: 30px; }

#friendslist li a {
  float: left;
  height: 30px;
  padding: 3px 6px;
  line-height: 22px;
  margin-right: 15px;
  border: 1px solid #c9d8b8; }

#friendslist li a img {
  float: left;
  margin-right: 5px; }

/** clearfix **/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.feedcomment {
  margin-bottom: 15px; }
  .feedcomment .feed-content {
    margin-top: 15px; }

.userlist-movie {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 1em; }
  .userlist-movie a {
    font-size: 1.5em;
    color: #9d1927; }
  .userlist-movie span {
    margin-right: 24px;
    font-size: 1.5em;
    color: #291427; }

.advantages {
  margin-top: 5%;
  margin-bottom: 5%; }
  .advantages .advantages-rate {
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fec343; }
  .advantages .advantages-lists {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #ec9322;
    text-align: right; }
  .advantages .advantages-filter {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    background-color: #fec343; }

.invitation {
  padding-top: 5%;
  padding-bottom: 5%; }

.filter p {
  height: 3em; }

.filter .filter--top {
  background-color: #9d1927;
  padding-top: 3%;
  padding-bottom: 3%; }
  .filter .filter--top h3 {
    color: white; }

.filter .filter--settings {
  background-color: #fec343;
  padding-top: 3%;
  padding-bottom: 3%; }
  .filter .filter--settings #regular-slider {
    margin-top: 0.2em;
    margin-bottom: 5em; }
  .filter .filter--settings .toggles {
    padding: 0; }
    .filter .filter--settings .toggles li {
      list-style-type: none;
      display: inline; }
    .filter .filter--settings .toggles .tgl-skewed {
      display: none; }
      .filter .filter--settings .toggles .tgl-skewed + .tgl-btn {
        background: white;
        border-color: #9d1927;
        outline: 0;
        cursor: pointer;
        user-select: none;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 4px; }
        .filter .filter--settings .toggles .tgl-skewed + .tgl-btn:hover {
          background: rgba(157, 25, 39, 0.2); }
        .filter .filter--settings .toggles .tgl-skewed + .tgl-btn:after {
          left: 100%;
          content: attr(data-tg-on); }
        .filter .filter--settings .toggles .tgl-skewed + .tgl-btn:before {
          left: 0;
          content: attr(data-tg-off); }
      .filter .filter--settings .toggles .tgl-skewed:checked + .tgl-btn {
        background: #9d1927;
        color: white; }
  .filter .filter--settings .toggles__long {
    height: 140px; }

.filtered-movies #filterRes {
  display: flex;
  flex-wrap: wrap;
  text-align: center; }

.filtered-movies .filtered-movies--item {
  display: block;
  margin-left: 2em;
  max-width: 150px;
  text-align: center;
  min-height: 270px; }
  .filtered-movies .filtered-movies--item a {
    font-size: 12px; }
    .filtered-movies .filtered-movies--item a:hover {
      color: #9d1927;
      font-weight: normal; }

.filtered-movies .pagination {
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
  width: 100%; }
  .filtered-movies .pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none; }
  .filtered-movies .pagination li.active {
    background-color: #9d1927;
    color: white; }
  .filtered-movies .pagination li:hover:not(.active) {
    background-color: #ddd; }

.noUi-pips {
  color: #333; }

.noUi-value {
  margin-top: 12px; }

.movieslists {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #fec343;
  position: relative; }
  .movieslists section {
    display: none;
    padding: 20px 0 0;
    width: 90%; }
  .movieslists .tab-style {
    display: none; }
  .movieslists input[id^="tab"] + label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #000;
    position: relative;
    width: 30%;
    white-space: nowrap; }
  .movieslists label:hover {
    cursor: pointer; }
  .movieslists #tab1:checked ~ #content1,
  .movieslists #tab2:checked ~ #content2,
  .movieslists #tab3:checked ~ #content3 {
    display: block; }
  .movieslists .myslyder {
    position: relative; }
  .movieslists .slider-item {
    display: inline-block;
    padding-top: 2em; }
  .movieslists .slick-prev:before {
    content: "\f0d9";
    font: 30px/1 'FontAwesome';
    color: #9d1927; }
  .movieslists .slick-next:before {
    content: "\f0da";
    font: 30px/1 'FontAwesome';
    color: #9d1927; }

.show-more {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid transparent; }

.show-more:hover {
  color: black;
  text-decoration: none; }

.noUi-tooltip {
  display: none; }

.noUi-active .noUi-tooltip {
  display: block; }

.movie-detail {
  top: 0; }
  .movie-detail .upper {
    position: relative;
    top: -160px; }
    .movie-detail .upper .prediction {
      font-size: 1.2em;
      color: #9d1927;
      font-weight: bold; }
    .movie-detail .upper .movies-related {
      border: 1px solid #f4f4f4;
      padding: 1em;
      text-align: center; }
      .movie-detail .upper .movies-related p {
        font-weight: bold;
        color: #9d1927; }
    .movie-detail .upper .movie-detail--list {
      font-weight: normal; }
    .movie-detail .upper .movie-review {
      border-bottom: 1px solid #ec9322;
      margin-bottom: 1em; }
    .movie-detail .upper #more {
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: #9d1927;
      cursor: pointer; }
    .movie-detail .upper .movie-makers {
      font-size: 1.1em;
      font-weight: bold;
      border-bottom: 1px solid #ec9322; }
  .movie-detail .movie-detail--poster {
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0.7; }
  .movie-detail .movie-info-block {
    padding: 0 20px; }

#comments {
  padding: 0; }
  #comments .comment-list {
    margin-left: 70px; }
    #comments .comment-list > li {
      margin-bottom: 3em; }
      #comments .comment-list > li .comment-meta {
        display: flex; }
        #comments .comment-list > li .comment-meta .fn {
          display: inline; }
        #comments .comment-list > li .comment-meta .comment-date {
          margin-left: auto; }

.comment-meta {
  margin-bottom: 0; }

.movie-info-block .stars {
  display: flex;
  height: 3em; }
  .movie-info-block .stars p {
    margin: 0; }

.br-wrapper {
  height: 100%;
  margin: 0 15px; }

.br-theme-fontawesome-stars .br-widget {
  height: auto; }
  .br-theme-fontawesome-stars .br-widget a.br-active::after, .br-theme-fontawesome-stars .br-widget a.br-selected::after {
    color: #fec343; }

.footer {
  background-color: #291427;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100px;
  line-height: 100px; }
  .footer p {
    margin-bottom: 0; }
